body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background for a clean look */
}

header, nav, main, footer {
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will distribute space evenly */
    background: #333;
    color: #fff;
    padding: 20px;
}

.profile-pic, .profile-pic-right {
    height: auto;
    border-radius: 50%;
    border: 3px solid #2c3e50;
}

.profile-pic {
    width: 150px; /* Size for the left image */
    margin-right: 20px;
}

.profile-pic-right {
    width: 50px; /* Different size for the right image */
    margin-left: 20px;
}

.header-text {
    max-width: 40%;
    text-align: center;
}

nav {
    background: #3498db; /* Bright blue for navigation */
    color: #ffffff;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

main section {
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main h2 {
    color: #2c3e50; /* Dark blue for section titles */
}

.experience, .education {
    margin-bottom: 15px;
}

.experience h3, .education h3 {
    font-size: 18px;
    color: #16a085; /* Teal for subheadings */
}

.date {
    font-style: italic;
    color: #7f8c8d; /* Grey for dates */
}

.technologies {
    color: #9b59b6; /* Purple for technology tags */
    font-style: italic;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background: #2c3e50; /* Dark blue footer */
    color: #ecf0f1;
    text-align: center;
    margin-top: 20px; /* Adds space before the footer */
}

#my-projects .project {
    margin-bottom: 15px;
}

#my-projects .project h3 {
    font-size: 20px;
    color: #3498db; /* Example color */
}

#my-projects .project a {
    text-decoration: none;
    color: #2c3e50;
}

#my-projects .project a:hover {
    text-decoration: underline;
}
