body {
    font-family: 'EB Garamond', serif; /* Using EB Garamond */
    line-height: 2.0;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background */
    /* Other styles */
}

header, nav, main, footer {
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will distribute space evenly */
    background: #333;
    color: #fff;
    padding: 20px;
}

.profile-pic, .profile-pic-right {
    height: auto;
    border-radius: 0%;
    border: 1px solid #2c3e50;
}

.profile-pic {
    width: 200px; /* Size for the left image */
    margin-right: 20px;
}

.profile-pic-right {
    width: 500px; /* Adjust to match the height for a perfect circle */
    height: 200px; /* Make height equal to width */
    border-radius: 0%;
/*    object-fit: cover; /* This ensures the image covers the area without stretching */
    margin-left: 20px;
}

.header-text {
    max-width: 40%;
    text-align: center;
}

nav {
    background: #3498db; /* Bright blue for navigation */
    color: #ffffff;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
}

nav a.active {
    background-color: #ccc;
}

main section {
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main h2 {
    color: #2c3e50; /* Dark blue for section titles */
}

.experience, .education {
    margin-bottom: 15px;
}

.experience h3, .education h3 {
    font-size: 18px;
    color: #16a085; /* Teal for subheadings */
}

.date {
    font-style: italic;
    color: #7f8c8d; /* Grey for dates */
}

.technologies {
    color: #9b59b6; /* Purple for technology tags */
    font-style: italic;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background: #2c3e50; /* Dark blue footer */
    color: #ecf0f1;
    text-align: center;
    margin-top: 20px; /* Adds space before the footer */
}

#my-projects .project {
    margin-bottom: 15px;
}

#my-projects .project h3 {
    font-size: 20px;
    color: #3498db; /* Example color */
}

#my-projects .project a {
    text-decoration: none;
    color: #2c3e50;
}

#my-projects .project a:hover {
    text-decoration: underline;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Styles for the iframe */
iframe {
    width: 100%; /* Full width */
    height: 600px; /* Or any other appropriate height */
    border: none; /* Remove default border */
    display: block; /* To override any default styles */
}
